
.metadata/.log
.metadata/*
RemoteSystemsTempFiles/.project

MovieBooking/target/m2e-wtp/web-resources/META-INF/maven/com.me/moviebooking/pom.properties

MovieBooking/target/m2e-wtp/web-resources/META-INF/maven/com.me/moviebooking/pom.properties

MovieBooking/target/m2e-wtp/web-resources/META-INF/maven/com.me/moviebooking/pom.properties
